html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  color: #e2e8f0;
}

app-root {
  display: block;
  min-height: 100%;
  width: 100%;
  background: #000000;
}
