@if (!authService.isAuthenticated()) {
  <p>Сначала войдите, чтобы увидеть список квизов.</p>
} @else {
  @if (quizService.error()) {
    <p>{{ quizService.error() }}</p>
  }

  @if (quizService.isLoading()) {
    <p>Загрузка...</p>
  }

  <div class="quiz-container">
    @for (item of quizService.paginatedQuizzes(); track item.id) {
      <div class="quiz-card">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
        <button>Открыть квиз</button>
      </div>
    } @empty {
      <p>Квизы пока не найдены.</p>
    }
  </div>

  <div class="paginations-control">
    <button
      (click)="quizService.prevPage()"
      [disabled]="quizService.currentPage() === 1"
    >
      Назад
    </button>

    <span>
      Cтраница {{ quizService.currentPage() }} из {{ quizService.totalPageCount() }}
    </span>

    <button
      (click)="quizService.nextPage()"
      [disabled]="quizService.currentPage() === quizService.totalPageCount()"
    >
      Вперед
    </button>
  </div>
}
